asgiref
certifi
charset-normalizer
colorama
facenet-pytorch
filelock
fsspec
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
opencv-python
pillow
pygame
requests
sqlparse
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
gunicorn
